.home-body {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.show-body {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
.home-item-div {
  float: left;
  width: 200px;
  height: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: 10px;
  img {
    width :200px;
    height :250px
  }
  p {
    height: 10px;
  }
}
