@height: 80px;
.App {
  background: antiquewhite;
}

.header-div {
  background-color: black;
  height: @height;
  line-height: @height;
  padding-left: 20px;
  color: white;
  font-size: 20px;
}

.selected {
  background-color: skyblue;
}

.header-div nav ul li {
  list-style: none;
  display: inline;

  a {
    width: 120px;
    text-align: center;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    display: block;
    height: @height;
    float: left;
  }
}
